<div class="container global-container">
    <div class="row customer-row current-row">
        <div class="col-5 text-center align-self-center customer-div-1">
            <h2 class="text-uppercase">Holiday Season Has Started...</h2>
            <p class="text-justify">How long have you been waiting for your dream holiday? Well, don't wait anymore. Because we're going to prepare all you need. Just select your preferred hotel and airline, start and end dates, and lastly the number of vacationer. Even
                if there is no place in the hotel or no ticket in the airline, we will offer you other options. Because we don't want you to return empty handed.</p>
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4 text-left align-self-center"><label class="col-form-label d-inline">Your Name:</label></div>
                        <div class="col align-self-center"><input class="form-control" type="text" id="name1"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4 text-left align-self-center"><label class="col-form-label d-inline">Your E-mail:</label></div>
                        <div class="col align-self-center"><input class="form-control" type="text" id="mail1"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4 text-left align-self-center"><label class="col-form-label d-inline">Preferred Hotel:</label></div>
                        <div class="col align-self-center"><select class="form-control" id="hotel1"><optgroup label="This is a group"><option value="1" selected="">This is item 1</option><option value="2">This is item 2</option><option value="3">This is item 3</option></optgroup></select></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4 text-left align-self-center"><label class="col-form-label d-inline">Preferred Airline:</label></div>
                        <div class="col align-self-center"><select class="form-control" id="airline1"><optgroup label="This is a group"><option value="1" selected="">This is item 1</option><option value="2">This is item 2</option><option value="3">This is item 3</option></optgroup></select></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4 text-left align-self-center"><label class="col-form-label d-inline">Start Date:</label></div>
                        <div class="col align-self-center"><input class="form-control" type="date" id="start_date1"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4 text-left align-self-center"><label class="col-form-label d-inline">End Date:</label></div>
                        <div class="col align-self-center"><input class="form-control" type="date" id="end_date1"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-4 text-left align-self-center"><label class="col-form-label d-inline">Vacationers:</label></div>
                        <div class="col align-self-center"><select class="form-control" id="vacationers1"><option value="1" selected="">This is item 1</option><option value="2">This is item 2</option><option value="3">This is item 3</option></select></div>
                    </div>
                </div><button id="submit1" class="btn btn-dark btn-block find-vacation" type="submit">Find me a vacation...</button></form>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-center align-self-center add-here"><a class="add-customer-button" href="javascript:void(0);"><i class="material-icons add-new">add_circle</i><h3>Add new customer</h3></a></div>
    </div>
</div>
